<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page | TaxBalance.Ng</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>About</h1>
        </div>
        <div class="subheader">
            <h2>Read all about this calculator</h2>
        </div>
        <div class="content">
            <p>TaxBalance Personal Income Tax Calculator is a free online tax calculator designed to help individuals and businesses in Nigeria estimate their tax liabilities accurately. Our mission is to simplify the tax calculation process and provide users with a reliable tool to manage their finances effectively.</p>
            <h3>Features:</h3>
            <ul>
                <li>Comprehensive tax calculations for individuals and businesses</li>
                <li>User-friendly interface for easy navigation</li>
                <li>Regular updates to reflect the latest tax laws and regulations</li>
                <li>Secure and private, ensuring your data is protected</li>
            </ul>
            <h3>Data:</h3>
            <p>All tax calculations are based on the latest tax regulations provided by the Nigeria Tax Act Administration. We ensure that our calculator is updated regularly to reflect any changes in tax laws.</p>
            <p>We do not request any personal data for the calculation. All calculations are performed in real-time, and no personal information is saved on our servers as non is needed.</p>
            <p>NOTE: This calculator is intended for informational purposes only and should not be considered as professional tax advice. For specific tax-related questions or concerns, please consult a qualified tax professional.</p>
            <p>Data spreadsheet: <a href="https://docs.google.com/spreadsheets/d/11_M38Xl9iGgWhcL8WIIxi3gRJWC7j6997BuuobzNs90/edit?gid=0#gid=0" target="_blank">TaxBalance Data</a></p>
            <h3>Our Team:</h3>
            <p>TaxBalance Calculators are developed and maintained by Ashirov Inc, a leading software development company specializing in financial solutions. Our team of experts is dedicated to providing high-quality tools that empower users to make informed financial decisions.</p>
            <h3>Contact Us:</h3>
            <p>If you have any questions, feedback, or suggestions, please feel free to reach out to us through our <a href="/contact-us">Contact Us</a> page. We value your input and are committed to improving our services.</p>
    </div>

    <div class="footer">
        <p>&copy; 2025 TaxBalance. All rights reserved.</p> 
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact-us">Contact Us</a> 
        <p>Brought to you by <a href="https://ashirovinc.com" target="_blank">Ashirov Inc</a></p>
    </div>
</body>
</html>