<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page | TaxBalance.Ng</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>About</h1>
        </div>
        <div class="subheader">
            <h2>Read all about this calculator</h2>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2025 TaxBalance. All rights reserved.</p> 
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact-us">Contact Us</a> 
        <p>Brought to you by <a href="https://ashirovinc.com" target="_blank">Ashirov Inc</a></p>
    </div>
</body>
</html>