<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | TaxBalance.Ng</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Contact Us</h1>
        </div>
        <div class="subheader">
            <h2>Send us a message / Reach out to our support.</h2>
        </div>
        <div class="content">
            <p> Send a message to <a href="mailto:support@taxbalance.ng">support@taxbalance.ng</a></p> 
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2025 TaxBalance. All rights reserved.</p> 
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact-us">Contact Us</a> 
        <p>Brought to you by <a href="https://ashirovinc.com" target="_blank">Ashirov Inc</a></p>
    </div>
</body>
</html>